body{

    margin:0;
    padding:0;
}
* {
    box-sizing: border-box;
}

#main-container{
    width: 400px;
    height: 720px;
    background-color: aquamarine;
    position: absolute;;
    top: 0;
    left: 0;
}

#myDiv{
    width: 400px;
    height: 110px;
    background: #25b99a;
    border-bottom-right-radius: 10px;
    border: 0px;
    position: absolute;
    top: 0;
    
   
}
h2{
    color: RGBA(255,255,255,0.9);
     text-align: center;
     margin: 5px 0 0 0;
    
    
}
#myInput{
    width: 335px;
    height: 50px;
    border-radius: 10px;
    background-color: RGBA(255,255,255,0.5);
    font-size: 20px;
    border: 0px;
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
}
#btn{
    position: absolute;
  
    margin-top: 10px;
    
}
ul{

margin-top: 115px;
 
}

ul li{
    list-style-type: none;
    
 width: 380px;
     height: 50px;
     border-radius:10px;
     background-color: RGBA(255,255,255,0.5);
   
     font-size: 36px;
     border: 0px;
     
     
     margin-left: -30px;
     position: relative;
     margin-top: 5px;
  
    height: 50px;

/* margin-top: 15px; */

}


.close{
    border: 0px;
    right:0;
    top:0;
    padding: 6px 16px 12px 16px; 
    font-size:36px;
    color:#25b99a;
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 7px;
    /* margin-top: -7px; */
    
    
    
   
}
.check{
    border: 0px;
    right:0;
    top:0;
  padding: 6px 16px 12px 10px; 
    font-size:36px;
    color:#25b99a;
    width: 50px;
    height: 50px;
    float: left;
    /* margin-top: -7px; */
   
}

